body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;

}

img.nav {
    width:20px;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.logo {
    margin-left: 20px;
}

img.header {
    width:100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #080808;
    font-weight: bold;
    display: block; 
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav li:hover,
nav a:hover {
    background-color: #a09f9f;
}

.background-container {
    background-image: url('background-contact.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
}

.centered-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.contact-form {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(244, 244, 244, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    position: relative;
    z-index: 1; 
}

.contact-form h2 {
    text-align: center;
    color: #333;
    font-size: 40px;
    animation: colorChange 5s infinite alternate, moveLetters 2s infinite;

}

@keyframes colorChange {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    29% {
        color: yellow;
    }
    43% {
        color: green;
    }
    57% {
        color: blue;
    }
    71% {
        color: indigo;
    }
    86% {
        color: violet;
    }
    100% {
        color: red;
    }
}

@keyframes moveLetters {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

.contact-form .name-container {
    display: flex;
    justify-content: space-between;
}

.contact-form .name-input {
    flex: 0.5;
    margin-right: 3px; 
}

.contact-form .name-input input[type="text"] {
    width: 200px;
}

.contact-form .interests-container {
    display: flex;
    flex-wrap: wrap;
}

.contact-form .interests-container input[type="checkbox"] {
    margin-left: 25px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
    width: 500px;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.contact-form input[type="checkbox"] {
    margin-right: 5px;
}

.contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}


footer {
    font-weight: bold;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin: 10px 0;
    }


    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 10px 0;
    }

    .contact-form {
        margin-top: 30px;
    }
    
   
}