body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

img.nav {
    width:20px;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.logo {
    margin-left: 20px;
}

img.header {
    width:100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #080808;
    font-weight: bold;
    display: block; 
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav li:hover,
nav a:hover {
    background-color: #a09f9f;
}

.grid-container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Vertically align items in the center */
    justify-content: space-between; /* Add space between items */
    flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
}

.grid-item {
    flex: 1; /* Equal width for both grid items */
    min-width: 300px; /* Minimum width for each grid item */
    box-sizing: border-box; /* Include padding and border in the total width */
    margin: 10px; /* Adjust the margin between grid items */
}

.grid-item img {
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    height: auto;
}

.grid-item p {
    font-size: 16px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color */
    /* Add any other styles for the text */
}

footer {
    font-weight: bold;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens (e.g., phones) */
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin: 10px 0;
    }


    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 10px 0;
    }

    .grid-item {
        flex: 1 0 100%; /* Full width on small screens, no shrinking or growing */
        min-width: auto; /* Reset minimum width */
        margin: 10px 0; /* Adjust the margin on small screens */
    }

    
}