body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

img.nav {
    width:20px;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.logo {
    margin-left: 20px;
}

img.header {
    width:100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #080808;
    font-weight: bold;
    display: block; 
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav li:hover,
nav a:hover {
    background-color: #a09f9f;
}

.introduction {
    margin: 20px;
}

.p1 {
    font-size: 50px; 
    color: rgb(10, 10, 10);
    font-family: 'Anton', sans-serif;
    margin-bottom: 5px;
}

.p2 {
    font-size: 1em;
}

.grid-container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Divide the container into 4 equal columns */
    grid-template-rows: auto; /* Adjust as needed based on the content inside the grids */
    grid-gap: 20px;
    align-items: stretch;
}

.grid-item {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

audio {
    position: relative;
    float:right;
    margin: 20px;
}

footer {
    font-weight: bold;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens (e.g., phones) */
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin: 10px 0;
    }


    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 10px 0;
    }

    .grid-container {
        grid-template-columns: 1fr; /* On smaller screens, revert to a single column layout */
    }

    .grid-item {
        grid-template-rows: auto auto; /* Adjust for smaller screens */
    }

    .grid-item img {
        width: 100%; /* Make images take full width on small screens */
    }

    audio {
        position: static;
        margin: 20px 0;
    }


}